<!DOCTYPE html>
<html>
<head>
  <title>Missing Person Information</title>
</head>
<body>
    <h1>Missing Person's Information</h1>
    <form action="/police/create/" method="POST" enctype="multipart/form-data">
      
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" required accept="image/*">
        </div>
        <div>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender">
            </div>
        <div>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age">
        </div>
        <div>
            <label for="details">Details:</label>
            <input type="text" id="details" name="details">
        </div>

        <button   button type="submit">Submit</button>
    </form>
</body>
</html>

