<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/styles/home.css">

<div class="my-2 ">
  <h1  class="text-center text-primary" >TraceTrack</h1>
  <h5 class="text-center text-secondary">Helping citizens by the help of citizens</h5>

</div>
<div class="container mx-auto center">
  <p class="mx-auto">Noticed anyone suspicious lately?</p>
  <a class="btn btn-primary mx-auto" href="/report">Reoprt</a>

  <p class="text-secondary fs-6 mt-5">Member of Law enforcement? <a  class="text-secondary" href="/auth">Login</a></p>
</div>
<div id="particles-js"></div>