<header class="fixed-top">
  <nav class=" navbar navbar-dark navbar-expand-lg bg-primary sticky-top">
      <div class="container-fluid">
         <span class="mx-3 me-5 fs-3 my-auto fw-bold text-light">TraceTrack</span>
         <!-- <a class="navbar-brand" href="#">Navbar</a> -->

         <!-- menu Btn -->
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="/police">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/police/create">Add New</a>
            </li>
            
          </ul>
          <form class="d-flex" action="/police" method="GET" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="location" id="location">
              <button class="btn btn-outline-warning me-3" type="submit">Search</button>
           </form>
           <br>
            <a class="btn btn-danger" href="/logout">Logout</a>
        </div>
      </div>
    </nav>
</header>